/*=================Header y Nav=================*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--first-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
}
.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.nav__logo img {
    width: 1.5rem;
}

.nav__logo span {
    color: var(--black-color);
    font-weight: var(--font-semi-bold); 
}
.nav__toggle,
.nav__close {
    display: inline-flex;
    font-size: 1.5rem;
    cursor: pointer;
}
/* Navigation for mobile devices*/
@media screen and (max-width: 1150px){
    .nav__menu{
      position: fixed;  
      top: 0;
      right: -100%;
      background-color: var(--first-color);
      width: 80%;
      height: 100%;
      padding: 8rem 3.5rem 0;
      box-shadow: -4px 0 16px hsla(0, 0%, 0%, .1);
      transition: right .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column ;
    row-gap: 3.5rem;    
}

.nav__link {
    color: var(--black-color);
    font-family: var(--second-font);
    transition: color .4s;
}

.nav__link:hover {
    color: var(--white-color); 
}

.nav__close{
  position: absolute;
    top: 1rem;
    right: 1.5rem;
}

